
# Activer le moteur de réécriture
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Ne pas rediriger les demandes de fichiers ou répertoires réels
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Rediriger les requêtes vers index.php pour le traitement
  # sauf pour les fichiers qui existent déjà
  RewriteRule ^api/(.*)$ api/$1 [L,QSA]
</IfModule>

# Force l'interprétation des fichiers PHP
<FilesMatch "\.php$">
    SetHandler application/x-httpd-php
</FilesMatch>

# Définir le type MIME pour les fichiers PHP
AddType application/x-httpd-php .php

# Forcer le traitement PHP pour le répertoire api
<Directory "api">
    Options +ExecCGI
    AddHandler php-script .php
    DirectoryIndex index.php
</Directory>
